<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    #editor {
       height: 200px;
    }
    </style>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://simplewebrtc.com/latest.js"></script>
    <script src="/javascripts/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/socket.io.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

   <div id="editor">function foo(items) {
       var x = "All this is syntax highlighted";
       return x;
   }</div>
       
   <script>
       var editor = ace.edit("editor");
       var socket = io.connect(window.location.origin);
       editor.setTheme("ace/theme/monokai");
       editor.getSession().setMode("ace/mode/javascript");
       var session = editor.getSession();
       var locked = false;
       session.on('change', function(d,e,f) {
          if (!locked) {
            socket.emit('text-changed', session.getValue());
          }
       });

       socket.on('update-text', function(d) {
          locked = true;
          session.setValue(d);
          locked = false;
       });
   </script>
  </body>
</html>
